  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Remake Barber - Home {% endblock %}
  {% block content_index_page_blog_slider %}
    {% for post_card in most_popular_posts %}
      <div class="flex-fill" style="margin-right: 30px;">
        <div class="card blog__slide text-center">
          <div class="blog__slide__img">
            <img class="card-img rounded-0" src={% static post_card.image_url %} alt="">
            </div>
            <div class="blog__slide__content">
              <h3><a href="#">{{ post_card.title }}</a></h3>
              <p>{{ post_card.published_at }}</p>
            </div>
        </div>
      </div>
    {% endfor %}
  {% endblock %}

  {% block content_index_page_blog_post_area %}
  {% for post in fresh_posts %}
  <div class="single-recent-blog-post">
    <div class="thumb">
      {% if post.image_url %}
        <img class="img-fluid" src={{ post.image_url }} alt="img/banner/blog.png">
      {% else %}
        <img class="img-fluid" src={% static "img/banner/blog.png" %} alt="img/banner/blog.png">
      {% endif %}
      <ul class="thumb-info" style="max-width: 550px">
        <li><a href="#"><i class="ti-user"></i>{{ post.author }}</a></li>
        <li><a href="#"><i class="ti-notepad"></i>{{ post.published_at }}</a></li>
        <li><a href="#"><i class="ti-themify-favicon"></i>{{ post.comments_amount }} Comments</a></li>
      </ul>
    </div>
    <div class="details mt-20">
      <h3>{{ post.title }}</h3>
      <p>{{ post.text|truncatechars_html:200 }}</p>
      <a class="button" href="{% url 'post_detail' slug=post.slug %}">Read More<i class="ti-arrow-right"></i></a>
    </div>
  </div>
  {% endfor %}
  {% endblock %}
